.d-none{
	display: none;
}
.quiz_box{
	border: 2px solid #ddd;
	padding: 10px;
	margin: 10px 0px;
}
.m-l-5{
	margin-left:5px;
}
.m-r-5{
	margin-right:5px;
}
.m-t-5{
	margin-top:5px;
}
.m-b-5{
	margin-bottom:5px;
}